.salmon {
  stroke: #e93625;
  fill: #f15e4f;
  color: #fcaea7;
  background: #fcaea7;
  border-color: #fcaea7;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

.fuchsia {
  stroke: #950998;
  fill: #c809ca;
  color: #fc37ff;
  background: #fc37ff;
  border-color: #fc37ff;
  lighting-color: #fedefe;
  flood-color: #fedefe;
  outline-color: #fedefe;
  solid-color: #fedefe;
}

.magenta {
  stroke: #950998;
  fill: #c809ca;
  color: #fc37ff;
  background: #fc37ff;
  border-color: #fc37ff;
  lighting-color: #fedefe;
  flood-color: #fedefe;
  outline-color: #fedefe;
  solid-color: #fedefe;
}

.rosa {
  stroke: #ab0a64;
  fill: #de097f;
  color: #ff4baf;
  background: #ff4baf;
  border-color: #ff4baf;
  lighting-color: #fff1f9;
  flood-color: #fff1f9;
  outline-color: #fff1f9;
  solid-color: #fff1f9;
}

.rojo {
  stroke: #98090c;
  fill: #ca090b;
  color: #ff373a;
  background: #ff373a;
  border-color: #ff373a;
  lighting-color: #fedede;
  flood-color: #fedede;
  outline-color: #fedede;
  solid-color: #fedede;
}

.rojonaranja {
  stroke: #982d09;
  fill: #ca3b09;
  color: #ff6a37;
  background: #ff6a37;
  border-color: #ff6a37;
  lighting-color: #fee6de;
  flood-color: #fee6de;
  outline-color: #fee6de;
  solid-color: #fee6de;
}

.tomato {
  stroke: #db290d;
  fill: #f64224;
  color: #ff907e;
  background: #ff907e;
  border-color: #ff907e;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

.naranja {
  stroke: #985509;
  fill: #ca7109;
  color: #ffa237;
  background: #ffa237;
  border-color: #ffa237;
  lighting-color: #feefde;
  flood-color: #feefde;
  outline-color: #feefde;
  solid-color: #feefde;
}

.naranjaclaro {
  stroke: #986309;
  fill: #ca8409;
  color: #ffb537;
  background: #ffb537;
  border-color: #ffb537;
  lighting-color: #fef2de;
  flood-color: #fef2de;
  outline-color: #fef2de;
  solid-color: #fef2de;
}

.oro {
  stroke: #987f09;
  fill: #caaa09;
  color: #ffdc37;
  background: #ffdc37;
  border-color: #ffdc37;
  lighting-color: #fef9de;
  flood-color: #fef9de;
  outline-color: #fef9de;
  solid-color: #fef9de;
}

.amarillo {
  stroke: #989509;
  fill: #cac809;
  color: #fffc37;
  background: #fffc37;
  border-color: #fffc37;
  lighting-color: #fefede;
  flood-color: #fefede;
  outline-color: #fefede;
  solid-color: #fefede;
}

.verdeclaro {
  stroke: #7fc40c;
  fill: #9cf50d;
  color: #c5ff66;
  background: #c5ff66;
  border-color: #c5ff66;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

.lima {
  stroke: #0c9809;
  fill: #0bca09;
  color: #3aff37;
  background: #3aff37;
  border-color: #3aff37;
  lighting-color: #defede;
  flood-color: #defede;
  outline-color: #defede;
  solid-color: #defede;
}

.verde {
  stroke: #032002;
  fill: #045103;
  color: #03b700;
  background: #03b700;
  border-color: #03b700;
  lighting-color: #64fb62;
  flood-color: #64fb62;
  outline-color: #64fb62;
  solid-color: #64fb62;
}

.cyanobscuro {
  stroke: #032a2a;
  fill: #045b5a;
  color: #00c2bf;
  background: #00c2bf;
  border-color: #00c2bf;
  lighting-color: #6dfbf9;
  flood-color: #6dfbf9;
  outline-color: #6dfbf9;
  solid-color: #6dfbf9;
}

.turquesa {
  stroke: #269c8e;
  fill: #2cc8b6;
  color: #6fe8da;
  background: #6fe8da;
  border-color: #6fe8da;
  lighting-color: #feffff;
  flood-color: #feffff;
  outline-color: #feffff;
  solid-color: #feffff;
}

.cyan {
  stroke: #099895;
  fill: #09cac8;
  color: #37fffc;
  background: #37fffc;
  border-color: #37fffc;
  lighting-color: #defefe;
  flood-color: #defefe;
  outline-color: #defefe;
  solid-color: #defefe;
}

.azulclaro {
  stroke: #097798;
  fill: #099cca;
  color: #37d0ff;
  background: #37d0ff;
  border-color: #37d0ff;
  lighting-color: #def6fe;
  flood-color: #def6fe;
  outline-color: #def6fe;
  solid-color: #def6fe;
}

.acero {
  stroke: #355167;
  fill: #426b8c;
  color: #6b9ec6;
  background: #6b9ec6;
  border-color: #6b9ec6;
  lighting-color: #e4ecf3;
  flood-color: #e4ecf3;
  outline-color: #e4ecf3;
  solid-color: #e4ecf3;
}

.dodger {
  stroke: #0b64b4;
  fill: #0a7de7;
  color: #55aeff;
  background: #55aeff;
  border-color: #55aeff;
  lighting-color: #fbfdff;
  flood-color: #fbfdff;
  outline-color: #fbfdff;
  solid-color: #fbfdff;
}

.azulreal {
  stroke: #26469e;
  fill: #2c55ca;
  color: #7190e9;
  background: #7190e9;
  border-color: #7190e9;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

.azul {
  stroke: #090c98;
  fill: #090bca;
  color: #373aff;
  background: #373aff;
  border-color: #373aff;
  lighting-color: #dedefe;
  flood-color: #dedefe;
  outline-color: #dedefe;
  solid-color: #dedefe;
}

.azulobscuro {
  stroke: #03032a;
  fill: #04055b;
  color: #0003c2;
  background: #0003c2;
  border-color: #0003c2;
  lighting-color: #6d6ffb;
  flood-color: #6d6ffb;
  outline-color: #6d6ffb;
  solid-color: #6d6ffb;
}

.marino {
  stroke: #020320;
  fill: #030451;
  color: #0003b7;
  background: #0003b7;
  border-color: #0003b7;
  lighting-color: #6264fb;
  flood-color: #6264fb;
  outline-color: #6264fb;
  solid-color: #6264fb;
}

.rebecca {
  stroke: #36224c;
  fill: #4f2f71;
  color: #7f43c0;
  background: #7f43c0;
  border-color: #7f43c0;
  lighting-color: #d4c2e7;
  flood-color: #d4c2e7;
  outline-color: #d4c2e7;
  solid-color: #d4c2e7;
}

.violeta {
  stroke: #581f90;
  fill: #7224bd;
  color: #a25be9;
  background: #a25be9;
  border-color: #a25be9;
  lighting-color: #f5eefc;
  flood-color: #f5eefc;
  outline-color: #f5eefc;
  solid-color: #f5eefc;
}

.orquidea {
  stroke: #5c2977;
  fill: #7a32a0;
  color: #ad5ed7;
  background: #ad5ed7;
  border-color: #ad5ed7;
  lighting-color: #f1e4f7;
  flood-color: #f1e4f7;
  outline-color: #f1e4f7;
  solid-color: #f1e4f7;
}

.morado {
  stroke: #1f0220;
  fill: #500351;
  color: #b400b7;
  background: #b400b7;
  border-color: #b400b7;
  lighting-color: #f962fb;
  flood-color: #f962fb;
  outline-color: #f962fb;
  solid-color: #f962fb;
}

.indigo {
  stroke: #140222;
  fill: #300453;
  color: #6800b9;
  background: #6800b9;
  border-color: #6800b9;
  lighting-color: #b964fb;
  flood-color: #b964fb;
  outline-color: #b964fb;
  solid-color: #b964fb;
}

.sandalo {
  stroke: #351c0b;
  fill: #603212;
  color: #bb5a1a;
  background: #bb5a1a;
  border-color: #bb5a1a;
  lighting-color: #ecb58f;
  flood-color: #ecb58f;
  outline-color: #ecb58f;
  solid-color: #ecb58f;
}

.siena {
  stroke: #502e1f;
  fill: #77422a;
  color: #c8673c;
  background: #c8673c;
  border-color: #c8673c;
  lighting-color: #eacdc0;
  flood-color: #eacdc0;
  outline-color: #eacdc0;
  solid-color: #eacdc0;
}

.cafe {
  stroke: #541d1e;
  fill: #7b2829;
  color: #cd393c;
  background: #cd393c;
  border-color: #cd393c;
  lighting-color: #ecc0c0;
  flood-color: #ecc0c0;
  outline-color: #ecc0c0;
  solid-color: #ecc0c0;
}

.marron {
  stroke: #200203;
  fill: #510304;
  color: #b70003;
  background: #b70003;
  border-color: #b70003;
  lighting-color: #fb6264;
  flood-color: #fb6264;
  outline-color: #fb6264;
  solid-color: #fb6264;
}

.gris {
  stroke: #515151;
  fill: #6a6a6a;
  color: #9c9c9c;
  background: #9c9c9c;
  border-color: #9c9c9c;
  lighting-color: #efefef;
  flood-color: #efefef;
  outline-color: #efefef;
  solid-color: #efefef;
}

.plata {
  stroke: #919191;
  fill: #aaaaaa;
  color: gainsboro;
  background: gainsboro;
  border-color: gainsboro;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

.blanco {
  stroke: #d0d0d0;
  fill: #e9e9e9;
  color: white;
  background: white;
  border-color: white;
  lighting-color: white;
  flood-color: white;
  outline-color: white;
  solid-color: white;
}

/*# sourceMappingURL=paletas-color.css.map */
